* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
  background-image: linear-gradient(-20deg, #2b3c76 0%, #4f4280 100%);
  color: snow;
  font-family: 'Quicksand', sans-serif;
  /* -----snow---- */
  /* -------ANIMATION SNOW--------- */
}

section .myinfo {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1px;
}

section .myinfo .img-div {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: yellow;
  overflow: hidden;
  position: relative;
}

section .myinfo .img-div img {
  position: absolute;
  top: -20%;
  left: 0;
  width: 200px;
  background-size: contain;
}

section .myinfo p {
  font-size: 20px;
}

section .box-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .box-container h2 {
  font-size: 20px;
}

section .box-container .page-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  z-index: 66;
}

section .box-container .page-div a {
  text-decoration: none;
  color: snow;
}

section .box-container .page-div a img {
  width: 180px;
  opacity: 0.5;
}

section .box-container .page-div a img:hover {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

section .box-container .page-div a .null {
  width: 180px;
  height: 93.2px;
  -webkit-box-shadow: 0px 1px 41px 3px rgba(34, 60, 80, 0.68);
          box-shadow: 0px 1px 41px 3px rgba(34, 60, 80, 0.68);
}

section .snow-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

section .snow {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: var(--left);
  z-index: 25;
  background-color: snow;
  border-radius: 50%;
  /* clip-path: polygon(50% 0,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%); */
  -webkit-animation: move-snow 4s var(--delay) linear infinite backwards;
          animation: move-snow 4s var(--delay) linear infinite backwards;
}

section .snow:nth-child(2),
section .snow:nth-child(6),
section .snow:nth-child(8) {
  width: 9px;
  height: 9px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

@-webkit-keyframes move-snow {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translate(10vw, 100vh);
            transform: translate(10vw, 100vh);
  }
}

@keyframes move-snow {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translate(10vw, 100vh);
            transform: translate(10vw, 100vh);
  }
}

footer {
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  background-color: #150e3f;
  color: snow;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
/*# sourceMappingURL=style.css.map */